* {
  font-family: "Lato";
}
a {
  text-decoration: none;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("img/hero-07-2x.jpg");
  background-size: cover;
  height: 800px;
}

/* navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: auto;
}
.logo img {
  height: 150px;
}
.link a {
  text-decoration: none;
  color: white;
  margin-right: 40px;
  padding-top: 60px;
}
.link a:hover {
  color: #f3b329;
  border-top: 7px solid #f3b329;
}

/* banner intro */
.banner {
  width: 85%;
  float: right;
  display: flex;
  justify-content: space-between;
}
.intro h1 {
  color: #f3b329;
  font-size: 50px;
}
.intro h2 {
  color: white;
  font-size: 40px;
  width: 600px;
}
.intro h3 {
  color: lightgrey;
  font-style: oblique;
}
.intro i {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 25px;
  border-radius: 5px;
  margin-top: 10px;
}
.intro i:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

/* banner icons */
.book-release {
  margin-top: 50px;
}
.icon {
  margin-left: 85%;
}
.demos-sale {
  background-color: white;
  padding: 10px;
  width: 60px;
  height: 60px;
  border-radius: 5px;
  text-align: center;
  margin-top: 10px;
}
.demos-sale:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
.demos-sale i {
  font-size: 40px;
  color: #1d1c1a;
}
.book-release p {
  font-size: 15px;
  line-height: 0px;
}
.icon span {
  font-weight: bold;
  line-height: 30px;
  color: rgb(135, 203, 152);
}
#price {
  font-size: 40px;
}

/* banner latest-book */
.latest-book {
  padding: 20px;
  background-color: white;
  margin-top: 100px;
  width: 600px;
}
.latest-book-container {
  display: flex;
}
.latest-book-info h5 {
  color: #f3b329;
}
.latest-book-info p {
  color: grey;
  width: 300px;
  line-height: 20px;
}
.buy {
  margin: auto;
  width: 450px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.buy a {
  border: 1px solid rgb(135, 203, 152);
  border-radius: 5px;
  padding: 10px;
  color: black;
  width: 200px;
}
.buy a:hover {
  background-color: rgb(135, 203, 152);
  color: white;
}

/* about */
.about {
  text-align: center;
  padding-bottom: 50px;
}
.about h1 {
  margin-top: 50px;
  color: #e1aa40;
  font-size: 40px;
}
.about p {
  font-size: 25px;
  width: 1000px;
  margin: auto;
  margin-bottom: 50px;
}
.about a {
  background-color: rgb(73, 169, 135);
  color: white;
  padding: 15px;
  border-radius: 5px;
}
.about a:hover {
  background-color: grey;
}
