* {
  font-family: "Lato";
}
a {
  text-decoration: none;
  color: black;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("img/hero-07-2x.jpg");
  background-size: cover;
  height: 800px;
}

/* navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: auto;
}
.logo img {
  height: 150px;
}
.link a {
  text-decoration: none;
  color: white;
  margin-right: 40px;
  padding-top: 60px;
}
.link a:hover {
  color: #f3b329;
  border-top: 7px solid #f3b329;
}

/* banner intro */
.banner {
  width: 85%;
  float: right;
  display: flex;
  justify-content: space-between;
}
.intro h1 {
  color: #f3b329;
  font-size: 50px;
}
.intro h2 {
  color: white;
  font-size: 40px;
  width: 600px;
}
.intro h3 {
  color: lightgrey;
  font-style: oblique;
}
.intro i {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 25px;
  border-radius: 5px;
  margin-top: 10px;
}
.intro i:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

/* banner icons */
.book-release {
  margin-top: 50px;
}
.icon {
  margin-left: 85%;
}
.demos-sale {
  background-color: white;
  padding: 10px;
  width: 60px;
  height: 60px;
  border-radius: 5px;
  text-align: center;
  margin-top: 10px;
}
.demos-sale:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
.demos-sale i {
  font-size: 40px;
  color: #1d1c1a;
}
.book-release p {
  font-size: 15px;
  line-height: 0px;
}
.icon span {
  font-weight: bold;
  line-height: 30px;
  color: rgb(135, 203, 152);
}
#price {
  font-size: 40px;
}

/* banner latest-book */
.latest-book {
  padding: 20px;
  background-color: white;
  margin-top: 100px;
  width: 600px;
}
.latest-book-container {
  display: flex;
}
.latest-book-info h5 {
  color: #f3b329;
}
.latest-book-info p {
  color: grey;
  width: 300px;
  line-height: 20px;
}
.buy {
  margin: auto;
  width: 450px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.buy a {
  border: 1px solid rgb(135, 203, 152);
  border-radius: 5px;
  padding: 10px;
  color: black;
  width: 200px;
}
.buy a:hover {
  background-color: rgb(135, 203, 152);
  color: white;
}

/* about */
.about {
  text-align: center;
  padding-bottom: 100px;
}
.about h1 {
  margin-top: 100px;
  color: #e1aa40;
  font-size: 40px;
}
.about p {
  font-size: 25px;
  width: 1000px;
  margin: auto;
  margin-bottom: 50px;
}
.about a {
  background-color: rgb(73, 169, 135);
  color: white;
  padding: 15px;
  border-radius: 5px;
}
.about a:hover {
  background-color: grey;
}

/* brand */
.brand {
  background-color: #f3ece3;
  text-align: center;
}
.brand img {
  padding: 50px;
}

/* audiobook */
.audiobook-container {
  background-image: url("img/banner.jpg");
  background-position: center;
  background-size: cover;
  height: 470px;
}
.audiobook {
  display: flex;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  margin: auto;
}
.audiobook-image {
  margin-top: 50px;
}
.audiobook-info h1 {
  color: white;
}
.audiobook-info h3 {
  color: #f3b329;
  text-transform: uppercase;
  font-size: 15px;
}
.audiobook-info p {
  color: grey;
  width: 400px;
  margin: auto;
}
.audiobook-info-brands img {
  padding: 20px;
}

/* testimonials sx */
.testimonials {
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.testimonials-sx {
  margin-top: 50px;
  margin-bottom: 100px;
}
.testimonials-sx h2 {
  color: rgb(73, 169, 135);
  font-weight: normal;
  text-transform: uppercase;
  font-size: 15px;
}
.best-author {
  background-image: url("img/testimonial2-2x.jpg");
  background-size: cover;
  height: 600px;
  width: 600px;
  border-bottom-right-radius: 50px;
}
.best-author:hover {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2) ), url("img/testimonial2-2x.jpg");
  background-size: cover;
}
.best-author h1 {
  padding: 50px;
  color: white;
  text-align: center;
}
.best-author hr {
  width: 80%;
  color: white;
}
.best-author h3 {
  color: white;
  padding-top: 20px;
  padding-left: 50px;
  font-weight: normal;
}
.best-author p {
  color: white;
  padding-left: 50px;
  padding-right: 50px;
  line-height: 25px;
}
.best-author-info {
  display: flex;
  align-items: center;
}
.best-author-info img {
  padding-left: 50px;
  padding-top: 50px;
}
.best-author-info span {
  color: white;
  padding-top: 45px;
  padding-left: 20px;
  font-weight: bold;
}
#journal {
  color: rgb(73, 169, 135);
  padding-left: 10px;
}

/* testimonials dx */
.testimonials-dx {
  margin-top: 80px;
}
.testimonials-dx a {
  color: white;
  background-color: #f3b329;
  padding: 15px;
  border-radius: 5px;
}
.testimonials-dx a:hover {
  background-color: grey;
}
.testimonials-dx-article {
  margin-top: 70px;
  background-color: #f3ece3;
  padding: 20px;
  width: 400px;
  height: 200px;
  text-align: center;
}
.testimonials-dx-article p {
  line-height: 30px;
  margin-bottom: 30px;
}
.testimonials-dx-article-credits {
  display: flex;
  align-items: center;
}
#article-author {
  padding-left: 20px;
  font-weight: bold;
}
.testimonials-dx-article-credits span {
  padding-left: 10px;
}

/* upcoming events */
.upcoming-events-container {
  background-color: #f3ece3;
  text-align: center;
  height: 700px;
}
.upcoming-events-container h1 {
  padding-top: 80px;
}
.upcoming-events-container h2 {
  color: #f3b329;
  text-transform: uppercase;
  font-size: 15px;
  margin-bottom: 50px;
}
.upcoming-events {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: auto;
}
.event {
  background-color: white;
  height: 400px;
  width: 400px;
}
.event img {
  width: 400px;
}
.event img:hover {
  filter: sepia(70%);
}
.event hr {
  width: 80%;
  margin: auto;
}
.event p {
  color: grey;
  width: 80%;
  margin: auto;
  margin-top: 15px;
}

/* newsletter */
.newsletter-container {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("img/banner-2.jpg");
  background-size: cover;
  height: 450px;
}
.newsletter {
  text-align: center;
}
.newsletter h1 {
  padding-top: 100px;
  color: white;
}
.newsletter h2 {
  text-transform: uppercase;
  color: #f3b329;
  font-size: 15px;
  margin-bottom: 50px;
}
.newsletter input {
  padding: 15px;
  width: 250px;
  border-radius: 5px;
  outline-style: none;
}
.newsletter a {
  padding: 15px 40px 15px 40px;
  background-color: rgb(73, 169, 135);
  border-radius: 5px;
  margin-left: 20px;
  color: white;
}
.newsletter a:hover {
  background-color: grey;
}
.newsletter p {
  color: grey;
  margin-top: 50px;
}

/* books */
.books {
  text-align: center;
  width: 50%;
  margin: auto;
  padding-top: 30px;
}
.books h2 {
  text-transform: uppercase;
  font-size: 15px;
  color: rgb(73, 169, 135);
}
.books-list {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}
.book-cover {
  width: 300px;
  height: 400px;
  position: relative;
  border-bottom-right-radius: 50px;
}
.book-cover:hover {
  filter: grayscale(100%);
}
.book-cover-info {
  width: 100%;
  color: white;
  position: absolute;
  bottom: 0;
  padding-bottom: 20px;

}
.book-cover-info h3 {
  font-size: 25px;
}
.book-cover-info hr {
  width: 30%;
}
.book-cover-info p {
  color: #f3b329;
}

/* articles */
.articles-container {
  background-color: #f3ece3;
  padding-top: 50px;
}
.articles {
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding-bottom: 100px;
}
.articles h2 {
  color: rgb(73, 169, 135);
  text-transform: uppercase;
  font-size: 15px;
  padding-bottom: 20px;
}
.articles-sx-cover {
  background-color: white;
}
.articles-sx-cover img:hover {
  filter: grayscale(100%);
}
.articles-sx-cover img {
  padding: 20px;
  height: 450px;
}
.articles-cover-info {
  padding-left: 20px;
  padding-bottom: 20px;
}
.articles-dx {
  margin-top: 50px;
}
#all-articles {
  background-color: #f3b329;
  padding: 10px 40px 10px 40px;
  color: white;
  border-radius: 5px;
}
#all-articles:hover {
  background-color: grey;
}
.articles-dx-cover {
  margin-top: 60px;
  background-color: white;
}
.articles-dx-cover img:hover {
  filter: grayscale(100%);
}
.articles-dx-cover img {
  padding: 20px;
  height: 200px;
}

/* footer */
footer {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("img/hero-07-2x.jpg");
  background-size: cover;
  height: 550px;
}
.credits {
  color: white;
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  padding-top: 100px;
}
.credits h1 {
  text-transform: uppercase;
  font-size: 25px;
}
.credits a {
  line-height: 40px;
  color: white;
}
.credits a:hover {
  color: grey;
}
.about-me {
  width: 300px;
}
.useful-links {
  display: flex;
  flex-direction: column;
}
.socials i {
  padding-right: 20px;
  padding-top: 20px;
}
.copyright {
  text-align: center;
  padding-top: 100px;
  color: lightgrey;
}
.copyright a {
  color: white;
}
